# SFTP Connection
paramiko>=3.0.0

# Environment variable support
python-dotenv>=1.0.0

# Apache Spark (Medallion transformations local)
pyspark>=3.4.0

# Microsoft Fabric / Azure Integration
azure-identity>=1.15.0
azure-storage-file-datalake>=12.14.0

# testing
pytest==7.4.0


